@font-face {
    font-family: 'TTHoves';
    src: url('../font/TT Hoves Pro Trial 3-000/TT Hoves Pro Trial Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

body{
    box-sizing: border-box;
    position: relative;
    background: var(--bg-color);
    font-family: "TT Hoves"
}
a{
    text-decoration: none;
}
*{ 
    margin: 0;
    padding: 0;
}
:root{
    --bg-color: #151515;
    --white: #FFFFFF;
    --gardient:radial-gradient(187.32% 94.2% at 50% 50%, #FFC107 0%, #FFDB6F 100%), #FFF;
}


.missions {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
}
.missions-div {
    position: relative;
    background: linear-gradient(94deg, #181818 3.55%, rgba(126, 126, 126, 0.00) 511%), #181818;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    
    padding: 5px 10px ;
}

.missions-div::before {
    content: "";
    width: 115px;
height: 7px;
flex-shrink: 0;
border-radius: 5px;
background: var(--gardient);
position: absolute;
bottom: 0;
left: 37%;
}

.missions-div-img {
    color: var(--white);
    border-radius: 20px;
    border: 0.827px solid rgba(255, 255, 255, 0.24);
    background: #FF0013;
    width: 36px;
    height: 36px;
    margin: 8px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.missions-div-div{
    display: flex;
    align-items: center;
}
.missions-div-info {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
.missions-div-info-name {
    color: var(--white);
font-size: 1rem;
font-weight: 300;
margin-bottom: 9px;
}
/* .missions-div-info-cost {
    color: var(--white);
    font-size: 1.1rem;
} */
.missions-div-btn {
    flex-shrink: 0;
    background: var(--gardient);    
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #000;
    font-size:1.5rem;
}

/* Home page */
.main {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 36px 36px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-bottom: none;
    border-left: none;
    border-right: none;
    background: #151515;
    background-image: url(../images/bg-texture.png);
    position: relative;
    align-items: center;
}
.main-div-img{
    text-align: center;
    display: block;
    /* height: 390px; */
}
.main-img {
    width: 70%;
}
.main-h1 {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: -25px;
    /* margin-top: 30px; */
}

.main-p {
    color: #FFF;
font-size: 1.5rem;
margin:25px 0 ;
font-weight: bold;
}

.main-div {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.main-div-btn {
background: var(--gardient);
padding: 8px 24px;
background-color: rgba(255, 193, 7, 1);
border: none;
color: #333;
cursor: pointer;
border-radius: 8px;
font-weight: bold;
width: 43%;
font-size: 2rem;
}

/* Menu component */
.menu{
    border-radius: 36px;
    border: 1px solid rgba(255, 255, 255, 0.24);
    background: #181818;
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
}

.menu::before{
content: "";
width: 115px;
height: 10px;
flex-shrink: 0;
border-radius: 5px;
background: var(--gardient);
position: absolute;
top: 0px;
}
.menu-line{
    width: 1px;
    height: 131px; 
    background: #222;
    margin: 0 5px;
}
.menu-item {
    background: none;
    border: none;
    color: rgba(255, 193, 7, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}
.menu-item-img {
    width: 35px;
    height:auto;
    fill: var(--gardient);
    margin-bottom: 10px;
}
.menu-item-p {
    color: var(--white);
    font-size: 1rem;
}

/* WALLET PAGE */
.Wallet-main-h1{
    color: var(--white);
    font-size: 1.7rem;
    text-align: center;
    margin-top: 35px;
}
.Wallet-main-section{
    margin-top: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    border-radius: 36px 36px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-bottom: none;
    border-left: none;
    border-right: none;
    background: #151515;
    align-items: center;
}
.Wallet-main-table{
   width: 96%;
   /* margin: 20px 10px; */
    
}
thead{
    border-radius: 10%;
}

.Wallet-main-table-thead-tr {
    border: 1px solid rgba(217, 217, 217, 0.24);
    background: linear-gradient(94deg, #181818 3.55%, rgba(126, 126, 126, 0.00) 511%);
    border-radius: 20px;   
}
th {
    color: #FFF;
    font-size: 1.2rem;
    padding: 10px;
}
td{
    padding-top: 24px;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
}
td > img{
    width: 30px;
}
.td{
    color: #FFDB6F;
}

/* FRIENDS */
.Fh1 {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    margin: 96px 20px 31px;
}
.Fh1-span {
    color: #FFC107;
}

.Fsection-p {
    color: #FFF;
    text-align: center;
    margin-bottom: 15px;
}
.Fsection-div {
    width: 90%;
    border-radius: 20px;
    border: 1px solid rgba(217, 217, 217, 0.24);
    margin-bottom: 15px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
.Fsection-div-input {
    width: 76%;
    background: transparent;
    border: none;
    color:var(--white);
    padding: 5px;
}
.Fsection-div-btn {
    color: #000;
    font-size: 1.01rem ;
    width: 19%; 
    border-radius: 20px;
    border: 0.787px solid rgba(255, 255, 255, 0.24);
    background: var(--gardient);
}
th:first-child{
    border-radius: 20px 0 0 20px;
}

.th-rewards {
    display: flex;
    gap: 5px;
    align-items: center;
}
.th-rewards-div {
    border-radius:10px;
    border: 0.395px solid rgba(255, 255, 255, 0.24);
    height: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
    background: #FF0013;
    width: 20px;
}
.th-bonus{
    background-color: #FFC107;
    border-radius:  0 20px 20px 0;
    color: #000;
    display: flex;
    align-items: center;
    gap: 5px;
}
.last-p{
    margin-top: 20px;
}
.Wallet-th{
    padding: 2px;
    @media screen and (min-width:345px) {
        padding: 10px;
    }
}
.Friends-tr{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

/* Mission page */
.Mh1 {
    color:  #FFF;
    text-align: center;
    margin-top: 100px;
}
.Mh1-span,
.Mp-span {
    color: #FFDB6F;
}
.Mp {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    margin-top: 15px
}
.section-missions{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.missions-div::before{
    content: "";
    width: 0;
}
.missions-div-div {
    flex: 0.8;
}
.Mimg{
    max-width: 28px;
    margin-right: 10px;
}
.M-div-p{
    color: #FFF;
}
.M-div-bonus{
    display: flex;
    align-items: center;
}
.M-div-div-p{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    margin-left: 5px;
}
.M-div-img{
    max-width: 27.5px;
}

.M-btn{
    width: 56px;
}
.M-div{
    display: flex;
    gap: 10px;
}