

body{
    box-sizing: border-box;
    position: relative;
    background: var(--bg-color);
    font-family: TT Hoves
}
a{
    text-decoration: none;
}
*{ 
    margin: 0;
    padding: 0;
}
:root{
    --bg-color: #151515;
    --white: #FFFFFF;
    --gardient: radial-gradient(187.32% 94.2% at 50% 50%, #FFC107 0%, #FFDB6F 100%);
}

.loading{
    background-image: url(./images/Textures.png);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loading-p{
    color:  hsl(45, 100%, 51%) ;
font-size: 2rem;
font-weight: 500;
}
.missions {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
}
.missions-div {
    position: relative;
    background: linear-gradient(94deg, #181818 3.55%, rgba(126, 126, 126, 0.00) 511%), #181818;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);

    padding: 5px 10px ;
}

.missions-div::before {
    content: "";
    width: 115px;
    height: 7px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--gardient);
    position: absolute;
    bottom: 0;
    left: 37%;
}

.missions-div-img {
    color: var(--white);
    border-radius: 20px;
    border: 0.827px solid rgba(255, 255, 255, 0.24);
    background: #FF0013;
    width: 36px;
    height: 36px;
    margin: 8px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.missions-div-div{
    display: flex;
    align-items: center;
}
.missions-div-info {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
.missions-div-info-name {
    color: var(--white);
    font-size: 0.7rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.missions-div-info-cost {
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
}
.missions-div-btn {
    flex-shrink: 0;
    background: var(--gardient);    
    padding: 8px 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #000;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 37px;
}

/* Home page */
.main {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 36px 36px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-bottom: none;
    border-left: none;
    border-right: none;
    background: #151515;
    background-image: url(../images/bg-texture.png);
    position: relative;
    align-items: center;
}
.main-div-img{
    text-align: center;
    display: block;
    /* height: 390px; */
}
.main-img {
    width: 70%;
}
.main-h1 {
    color: #FFF;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: -25px;
    /* margin-top: 30px; */
}

.main-p {
    color: #FFF;
    font-size: 1rem;
    margin:25px 0 ;
    font-weight: 700;
}

.main-div {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.main-div-btn {
    background: var(--gardient);
    padding: 10px 24px;
    background-color: rgba(255, 193, 7, 1);
    border: none;
    color: #333;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 600;
    width: 43%;
    font-size: 0.9rem;
}

/* Menu component */
.menu{
    border-radius: 36px;
    border: 1px solid rgba(255, 255, 255, 0.24);
    background: #181818;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    font-weight: 500;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 85px;
}

.menu::before{
    content: "";
    width: 115px;
    height: 5px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--gardient);
    position: absolute;
    top: 0px;
}
.menu-line{
    width: 1px;
    height: 85px; 
    background: #222;
    margin: 0 5px;
}
.menu-item {
    background: none;
    border: none;
    color: rgba(255, 193, 7, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}
.menu-item-img {
    max-width: 20px;
    height:auto;
    fill: var(--gardient);
    margin-bottom: 10px;
}
.menu-item-p {
    color: var(--white);
    font-size: 0.8rem;
    font-weight: 500;
}

/* WALLET PAGE */
.Wallet-main-h1{
    color: var(--white);
    font-size: 1rem;
    text-align: center;
    margin-top: 35px;
    font-weight: 500;
}
.Wallet-main-section{
    margin-top: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    border-radius: 36px 36px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-bottom: none;
    border-left: none;
    border-right: none;
    background: #151515;
    align-items: center;
}
.Wallet-main-table{
   width: 96%;
    
}
thead{
    border-radius: 10%;
}

.Wallet-main-table-thead-tr {
    background: linear-gradient(94deg, #181818 3.55%, rgba(126, 126, 126, 0.00) 511%);
    border-radius: 20px;   
}
th {
    color: #FFF;
    font-size: 1rem;
    padding: 10px;
    font-weight: 500;
}
td{
    padding-top: 24px;
    color: #FFF;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
}
td > img{
    width: 25px;
}
.td{
    color: #FFDB6F;
}

/* FRIENDS */
.Fh1 {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin: 96px 20px 31px;
}
.Fh1-span {
    color: #FFC107;
}

.Fsection-p {
    color: #FFF;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 500;
}
.Fsection-div {
    width: 90%;
    margin-bottom: 15px;
    border-radius: 13px;
    border: 1px solid rgba(217, 217, 217, 0.24);
    background: linear-gradient(94deg, #181818 3.55%, rgba(126, 126, 126, 0.00) 511%);
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
}
.Fsection-div-input {
    width: 63%;
    background: transparent;
    border: none;
    color:var(--white);
    padding: 5px;
    outline: none;
    @media screen and (max-width: 320px) {
        width: 50%;
    }
}
.Fsection-div-btn {
    margin: 4px;
    color: #000;
    height: 78%;
    font-weight: 500;
    padding: 5px 25px;
    border-radius: 10px;
    border: 0.787px solid rgba(255, 255, 255, 0.24);
    background: var(--gardient);
}
th:first-child{
    border-radius: 20px 0 0 20px;
}

.th-rewards {
    display: flex;
    gap: 5px;
    align-items: center;
}
.th-rewards-div {
    border-radius:10px;
    border: 0.395px solid rgba(255, 255, 255, 0.24);
    height: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
    background: #FF0013;
    width: 20px;
}
.th-bonus{
    background-color: #FFC107;
    border-radius:  0 20px 20px 0;
    color: #000;
    display: flex;
    align-items: center;
    gap: 5px;
}
.last-p{
    margin-top: 20px;
}
.Wallet-th{
    padding: 2px;
    @media screen and (min-width:345px) {
        padding: 10px;
    }
}
.Friends-tr{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

/* Mission page */
.Mh1 {
    color:  #FFF;
    text-align: center;
    margin-top: 100px;
    font-weight: 500;
    font-size: 1.5rem;
}
.Mh1-span,
.Mp-span {
    color: #FFDB6F;
}
.Mp {
    color: #FFF;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 15px
}
.section-missions{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.missions-div::before{
    content: "";
    width: 0;
}
.missions-div-div {
    flex: 0.8;
}
.Mimg{
    max-width: 28px;
    margin-right: 10px;
}
.M-div-p{
    color: #FFF;
    font-weight: 500;
    font-size: 0.8rem;
}
.M-div-bonus{
    display: flex;
    align-items: center;
}
.M-div-div-p{
    color: #FFF;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
    margin-left: 5px;
}
.M-div-img{
    max-width: 27.5px;
}

.M-btn{
    width: 70px;
    padding: 0;
    align-items: center;
}
.M-div{
    display: flex;
    gap: 10px;
}